*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 2rem auto;
}

img{
    width: 400px;
}

input{
    width: 60%;
}

/* Playlist */


.playlist-song-container {
    margin: 2rem auto;
    width: 50%;
}

.playlist-song{
    cursor: pointer;
}

.playlist-song:hover{
    opacity: .8;
}

.playlist-song img{
    width: 100px;
    cursor: pointer;
}